@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Global Data</h3>
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetTowns">
        GET TOWNS
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetServices">
        GET SERVICES
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetOtherServices">
        GET OTHER SERVICES
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetAddresses">
        GET ADDRESSES
    </a>
    <br />
    
    <h3>Quote</h3>
    <a class="btn btn-success" asp-controller="Courier" asp-action="CreateQuote">
        CREATE QUOTE
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="AcceptQuote">
       ACCEPT QUOTE
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetQuoteDoc">
        GET QUOTE DOC
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetQuoteChange">
        GET QUOTE CHARGES
    </a>
    <br />

    <h3>Collection</h3>
    <a class="btn btn-success" asp-controller="Courier" asp-action="CreateCollection">
        CREATE COLLECTION
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetCollectionStatus">
       GET COLLECTION STATUS
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetCollectionDoc">
        GET COLLECTION DOC
    </a>
    <br />

    
    <h3>Delivery</h3>
    <a class="btn btn-success" asp-controller="Courier" asp-action="CreateDelivery">
        CREATE DELIVERY
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetDeliveryPod">
       GET DELIVERY POD
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetDeliveryPodImage">
        GET DELIVERY POD IMAGE
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetDeliveryDoc">
        GET DELIVERY DOC
    </a>
    <br />
    <a class="btn btn-success" asp-controller="Courier" asp-action="CheckDeliveryNo">
        CHECK DELIVERY NO
    </a>
    <br />
    <br />

    
    <h3>Delivery</h3>
    <a class="btn btn-success" asp-controller="Courier" asp-action="GetTrackingEvents">
        GET TRACKING EVENTS
    </a>
    <br />
</div>
